{% extends "master.html" %}

{% block title %}
    Slog Dogs - Mission
{% endblock %}

{% block content %}


        <main class="px-3 text-start">
            <h1>The Slog Dog Commandments</h1>
            <ol>
                <li><h4>Slog Dogs are adventurers</h4></li>
                <ul>
                    <li>We are curious, about ourselves and this expansive wilderness. Where are the limits? What is new? What's out there?</li>
                </ul>
                <li><h4>Slog dogs roam in packs</h4></li>
                <ul>
                    <li>No slogger left behind! We stick around and make sure the slowest, most tired person hasn’t fallen behind. We tend to the injured and stay with them to ensure their safe return.</li>
                </ul>
                <li><h4>“The Objective” is not the main objective</h4></li>
                <ul>
                    <li>Primary objectives include getting home safe, building lasting connections, seeing awe inspiring places, and deepening our philosophical understanding of “self” and “perseverance”.</li>
                    <li>The peak, the killer line, the sweet send; these are all secondary objectives.</li>
                </ul>
                <li><h4>Slog Dogs place safety in front of pride</h4></li>
                <ul>
                    <li>We don't let pride or ego supersede sound judgement. We turn around. We try things and sometimes it doesn’t work out. We bail when required. We understand our limits, when to push them, and when to concede to them.</li>
                </ul>

            </ol>
     </main>
{% endblock %}